@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';


.client-table-container {
    padding: 1rem 3rem 0.5rem 3rem;

    h3 {
        font-family: $fontFamily;
        font-weight: $fontSemiBold;
    }

    hr {
        border: 1.5px solid $lightGrayColor2;
        margin: 1rem 0;
    }
}