@import '@sweetalert2/theme-material-ui/material-ui.scss';
@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';


.client-header-container{
    @include flexBetween(row);
    background-color: $lightBlueColor;
    height: 25%;
    padding: 1rem 3rem;

    @include customMaxBreakPoint(600){
        padding: 1rem ;
    }

    &__info {
        @include flexCenter(row, 0.7rem, flex-start);
        width: 80%;


        h1 {
            font-family: $fontFamily;
            font-weight: $fontSemiBold;
            white-space: nowrap;
            overflow: hidden;
            color: $grayColor;
            display: flex;
            align-items: center;

            @include smMinBreakPoint{
                font-size: 12px;
            };
            @include mdMinBreakPoint{
                font-size: 16px;
            };
            @include smMinBreakPoint{
                font-size: 28px;
            };

        };
    };

    &__btns {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        width: 20%;
        height: 45%;
        

    }
}